
/* .banner-container{
    width: 100%;
    height: 600px;
    background-image: url('https://wallpaperaccess.com/full/5651981.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

} */
/* .banner-container{
    width: 100%;
    height: 600px;
    background-image: url('https://img.wallpapersafari.com/desktop/1920/1080/75/32/zKYG1E.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-details{
    padding-top: 100px;
} */
.banner{
    text-align: left;
}
.banner-img{
}
.resume-btn{
    background-color: blueviolet;
}