*, :before, :after{
    box-sizing: inherit;
}
#profile{
    /* background-color: rgb(128, 70, 182); */
    /* background-color: #373636;
    height: 70%; */
    background-color: #373636;
    height: 75%;
    /* background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover; */
    /* position: relative; */
    margin-bottom: 40px;
}
.portfolioImg{
    /* position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #F3F5F9; */

    border-radius: 5px;
    box-shadow: 0 0 27px rgb(96 96 96 / 34%);
    width: 90%;
    height: 380px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 10px;
    position: relative;
    top: 40px;
    background-color: #F3F5F9;

}
.portfolio-profile{
    /* display: flex;
    flex-wrap: wrap; */
    padding-top: 90px;
    /* margin-left: -15px;
    margin-right: -15px; */
}
/* p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */
a{
    color: #fff;
}
.profile-details{
 
}
.portfolio-name{
    color: #fff;
    font-size: 44px;  
    font-weight: 700;
    line-height: 50px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.portfolio-work{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}
.portfolio-contact{
    margin-bottom: 20px;
}
dl{
    margin-top:0px;
}
.contact-list{
    font-size: 16px;
    line-height: 24px;
    /* color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute; */
}
.contact-list .contact-list-opacity-title{
    opacity: .4;
}
dl{
    margin-top: 0;
}
.contact-list dt{
    float: left;
    font-weight: 700;
    text-transform: uppercase;
}
.contact-list dd{
    padding-left: 100px;
    margin-bottom: 15px;
    color: #fff;
}
.contact-list a{
    color: #fff;
    text-decoration: none;
}
.contact-list dd a:hover{
    text-decoration: underline;
    transition: .3s;
}
.social-portfolio{
    margin-bottom: 35px;
}

@media (min-width:780px) {
    .col-md-8{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}